# compiled output
/nestjs/api-nestjs-primeiros-passos/dist
/nestjs/api-nestjs-primeiros-passos/node_modules
/nestjs/api-nestjs-primeiros-passos/.env
/nestjs/api-nestjs-primeiros-passos/.docker/postgres/pgdata
/testes/docker/db